body {
  font-family: 'poppins', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: .5s;
}

button:hover {
  transform: scale(1.06);
}

input {
  outline: none;
  border: none;
  background: none;
}

.spinner {
  margin: 1rem auto;
  width: fit-content;
  height: fit-content;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--black);
}